*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.myHeader{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
        url('../assets/img.jpg') center center no-repeat fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

.headerContent{
    color: white;
}